@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Noto+Sans+Bengali:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Noto Sans Bengali", sans-serif;
    font-optical-sizing: auto;
}
@import "tailwindcss";